@use '../mixins/breakpoints' as *;

.news-datasheet {
  margin-bottom: 50px;
  
  &__title {
    font-size: 3rem;
    font-weight: 900;
    // margin-bottom: var(--spacing-md);
    margin-bottom: 0;
    text-align: center;

    @include mobile-tablet {
      font-size: 2rem;
    }
  }

  &__date {
    font-size: 0.9rem;
    color: var(--color-text-muted);
    text-align: center;
    // margin-bottom: var(--spacing-lg);
  }

  &__content {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-text);

    img {
      max-width: 100%;
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto var(--spacing-lg);
  }

  &__source {

  }

}