@use '../mixins/breakpoints' as *;

.page-header {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  &__breadcrumb {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  
    @include mobile {
      display: block;
    }

    a {
      color: var(--color-text);
      text-transform: none;
      font-size: 14px;
    }
  
    i.icon {
      width: 16px;
      height: 16px;

      @include mobile {
        margin-bottom: -3px;
      }
  
      &:last-child {
        display: none;
      }
    }
  }
  
  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 1rem 0 0 0;

    @include mobile {
      font-size: 1.8rem;
    }

    a {
      font-size: 2.4rem;
      font-weight: 900;
      color: var(--color-text);

      @include mobile {
        font-size: 1.8rem;
      }
    }
  }

}

.title-header {
  margin: 1rem 0 1rem 0;
  position: relative;
  border-bottom: 1px solid var(--color-border);
  position: relative;
  
  span {
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 3px solid var(--color-dark);
    display: inline-block;
    padding: 5px 15px 5px 0;

    .button {
      position:absolute;
      margin: auto;
      top: 0;
      left: auto;
      bottom: 0;
      right: 0;
    }
  }
}

.static-page {
  .page-header {
    padding-left: 0;
  }
}