@use '../mixins/breakpoints' as *;

.sponsored-riders-datasheet {
  
  &__meta {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__title {
    font-size: 3rem;
    font-weight: 900;
    // margin-bottom: var(--spacing-md);
    margin-bottom: 20px;
    text-align: center;

    @include mobile {
      font-size: 1.8rem;
    }
  }

  &__category {
    font-size: 0.9rem;
    font-weight: 900;
    padding: 5px 10px;
    color: var(--color-text-inverse);
    background-color: var(--color-background-inverse);
    text-align: center;
    display: inline-block;
    margin-bottom: var(--spacing-sm);
    // margin-bottom: var(--spacing-lg);
  }

  &__content {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-text);

    max-width: 550px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 50px auto 50px auto;
    text-align: center;

    h1, h2, h3, h4 {
      font-weight: 900;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: cover;
    margin: 0 auto 30px auto;
    display: block;
    position: relative;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__image-wrapper {
    position: relative;
    margin-bottom: -85px;
    z-index: 0;

    &::before {
      content: '';
      width: 100%;
      height: 100px;
      background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      position: absolute;
      bottom: 0px;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
    }
  }

}