AuthType Basic
AuthName "Password required"
AuthBasicProvider file
AuthUserFile "/home/chroot3/home/umnd001/teszt.mindentkapni.hu/.password"
Require user mindentkapni

<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteBase /
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d


#RewriteRule
#RewriteRule ^pcat_id$ /rewriter.php?com=$1 L
RewriteRule (.*)\.ini index.php [L]
RewriteRule . index.php [L]
</IfModule>