parameters:
    level: 2
    paths:
        - Controllers
        - Entities
        - Traits
        - Services
        - Listeners
        - mkw
        - mkwhelpers
        - index.php
        - bootstrap.php
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon