.flags {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  align-items: flex-end;

  .flag {
    font-size: var(--font-size-small);
    // font-weight: 900;
    color: var(--color-text-inverse);
    background-color: var(--color-primary);
    padding: 4px 7px;
    border-radius: 5px;
    width: auto;
  }
}
