.btn-darshan {
    color: #fff;
    background-color: #80008C;
    border-color: #80008C;
}

.color-darshan {
    color: #80008C;
}

.topmargin10 {
    margin-top: 10px;
}

.bold {
    font-weight: bold;
}

@media (min-width: 576px) {
    .container {
        max-width: 570px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 760px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 990px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1190px
    }
}
