.lablecCsik {
	background: none repeat scroll 0 0 #373737;
	padding: 15px 0;
	color: #fff;
	margin-top: 15px;
	margin-bottom: -15px;
}

.lablecCsik a {
	color: #fff;
}

.lelkesito {
	font-family: "Georgia",Times New Roman,Times,serif;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: normal;
}

.lablecBottom {
	color: white;
}

.lablecBottom h2 {
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.lablecContainer {
	background: #373737;
	padding-left: 30px;
	padding-bottom: 50px;
	color: #373737;
	margin-top: 15px;
}

.lablecLista {
	list-style: none;
}