.textAlignCenter {
	text-align: center;
}

.textAlignRight {
	text-align: right;
}

.alignRight {
	align: right;
}

a, a:hover, a:visited {
	text-decoration: none;
}
a {
	color: #5D5D5D;
	font-size: 11px;
}

a:hover {
	color: #344A7C;
}

h3 {
	color: #5D5D5D;
}

label {
	cursor: pointer;
}

div.headTop a {
	color: #CFCFCF;
}

div.headTop a:hover {
	color: #FCFCFC;
}

div.lablecContainer a {
	color: #CFCFCF;
}

div.lablecContainer a:hover {
	color: #FCFCFC;
}

.wrap {
    clear: both;
    margin: 0 10px;
    min-height: 1%;
}
.spg-block-container {
	border: 1px solid #CCC;
	border-top: none;
	margin-bottom: 10px;
	margin-top: 10px;
	float: left;
	width: 100%;
}

.spg-block-container-full {
	border-top: 1px solid #CCC;
	padding-top: 10px;
	float: left;
	clear: left;
	width: 100%;
	cursor: pointer;
}

div.spg-block-container-full:hover {
    background: none repeat scroll 0 0 #F7F7F7;
}

.spg-block-container-full .wrap {
	margin-right: 5px;
}

dl.spg-additional {
	width: 100%;
	margin: 0;
	clear: left;
}

dl.spg-additional dt {
	float: left;
	padding: 0 12px 8px 0;
	width: 100px;
	height: 90px;
}

dl.spg-additional dd {
	margin: 0;
	padding: 0;
	display: block;
	text-align: left;
	width: auto;
}
dl.spg-additional dd.title {
	margin: 0;
	padding: 0;
}

dl.spg-additional dd.title a {
	font-weight: bold;
	font-size: 14px;
	padding-left: 10px;
	line-height: 28px;
}

dl.spg-additional dd.copy {
	font-weight: normal;
	width: auto;
	padding-left: 10px;
}

dl.spg-additional dd.title a {
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    padding-left: 10px;
}

.listClean {
    border: 0 none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.itemListBlock {
    margin-bottom: 10px;
	padding-bottom: 10px;
    min-height: 125px;
	border-bottom: 1px solid #CFCFCF;
}

.hirListBlock {
    margin-bottom: 10px;
	padding-bottom: 10px;
}

.borderBottomColorOneExtraLight {
	border-bottom: 1px solid #CFCFCF;
}

.listQuery .itemListBlock .itemPhoto {
    float: left;
    margin-right: 20px;
    width: 110px;
}

.itemInfoBlock {
    float: left;
    width: 365px;
}

.itemOfferBlock {
    float: right;
    min-height: 200px;
    text-align: right;
    width: 190px;
}

.miniItemPicture {
	min-height: 80px;
}

.miniItemCaption {
	min-height: 54px;
}

.miniItemJelzok {
	min-height: 32px;
}

.itemJelzok {
	padding-top: 10px;
}

.itemPrice {
	color: #FF7800;
}

.keret {
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.15);
}

.hatter {
	background: #EFEFEF;
}

.tab-pane {
	padding: 25px;
}

.nav {
	margin-bottom: 0;
}

.nav-tabs {
	border-bottom: none;
	padding-left: 10px;
}

.hataroltSor {
	margin-bottom: 15px;
}

.korbepadding {
	padding: 15px;
}

.szelepadding {
	padding-left: 15px;
	padding-right: 15px;
}

.jobbrapadding {
	padding-right: 15px;
}

.simalista {
	list-style: none;
	margin: 0;
}

.szurofej {
	background-color: #EFEFEF;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	padding: 8px;
	cursor: pointer;
}

.szurofej:hover {
	background-color: rgba(0,0,0,0.3);
}

.szurodoboz {
	overflow-x: hidden;
	min-height: 50px;
	max-height: 175px;
}

.checkbox {
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-o-transition: color .2s linear;
}

.checkbox:hover {
	color: rgba(0,0,0,0.3)
}

.hiralairas {
	font-size: 70%;
}

.nincsbalmargo {
	margin-left: 0;
}

.aktualisLap {
	background-color: #2BA8E9;
}

.kiemeltTermekListBlock {
	margin-bottom: 10px;
	padding-bottom: 10px;
	min-height: 125px;
}

.blockHeader {
	background-color: #666666;
	padding: 10px;
	margin-bottom: 10px;
}

.blockHeader h4 {
	color: #F7F7F7;
}

.form-header {
	margin-bottom: 18px;
}

.well {
	padding: 8px 0;
}

input.error, input.required {
	border-color: red;
}

input.valid {
	border-color: greenyellow;
}

input.placeholder {
	color: #999999;
}

.ui-carousel {
	height: 100px;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: relative; /*for ie7 to work e.g in html carousels*/
	width: 300px
}

.ui-carousel > .wrapper {
    margin: 0;
    padding: 0;
    width: 9999px;
}

.ui-carousel > .wrapper > * {
	border: 0;
	display: block;
	float: left;
	height: 100px;
	overflow: hidden;
	width: 100px;
}

.rcarousel-wrapper {
	position: relative;
}

.carousel-control {
	opacity: 0.2;
}

.kosarform {
	margin: 0;
}

@media (max-width: 767px) {
	.jobbrapadding {
		padding-right: 0px;
	}
}