.btn-darshan {
    color: #fff;
    background-color: #80008C;
    border-color: #80008C;
}

.btn-darshan:hover {
    color: #fff;
}

.color-darshan {
    color: #80008C;
}

.color-red {
    color: red;
}

.color-bkg-darshan {
    background-color: #f4e9f9;
}

.topmargin10 {
    margin-top: 10px;
}

.top-bottom-margin-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}