.btn-darshan {
    color: #fff;
    background-color: #80008C;
    border-color: #80008C;
}

.color-darshan {
    color: #80008C;
}

.color-red {
    color: red;
}

.color-bkg-darshan {
    background-color: #f4e9f9;
}

.topmargin10 {
    margin-top: 10px;
}