@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  font-size: var(--font-size-base);
}

* {
  color: var(--color-text);
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  color: var(--color-text);
  background-color: var(--color-background);
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  margin: 0;
  padding: 0;

  &.no-scroll {
    overflow: hidden;
    height: 100vh;
    height: 100dvh;
  }

  &.loading {
    cursor: wait;
  }
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color-link);
    opacity: var(--link-hover-opacity);
    text-decoration: none;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
}

a {
  -webkit-appearance: none;
  text-decoration: none;
  transition: opacity ease 150ms;

  &:hover {
    opacity: 0.8;
  }

  &.primary {
    color: var(--color-link);
  }

  &.underline {
    text-decoration: underline;
  }
}

.divider {
  border-bottom: 1px solid var(--color-border);
  width:100%;
}

// Text-align
.ta-l { text-align: left; }
.ta-c { text-align: center; }
.ta-r { text-align: right; }
.ta-j { text-align: justify; }

// Flexboxes
.flex-tl {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-tc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex-bc {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flex-cl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-cr {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-tb {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-cb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.gap-sm {
  gap: var(--gap-small);
}
.gap-base {
  gap: var(--gap-base);
}
.gap-lg {
  gap: var(--gap-large);
}