.body {
    background: url("background.jpg") no-repeat scroll center top rgba(0, 0, 0, 1) !important;
    min-height: 2000px;
    padding-top: 70px;
}

.signin {
    background: url("background.jpg") no-repeat scroll center top rgba(0, 0, 0, 1) !important;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin-heading {
    color: #ffffff;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-red {
    color: #eee;
    background-color: #fe0000;
    border-color: #d30000;
}
.btn-red:focus,
.btn-red.focus {
    color: #eee;
    background-color: #d30000;
    border-color: #a80000;
}
.btn-red:hover {
    color: #eee;
    background-color: #d30000;
    border-color: #a80000;
}
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
    color: #eee;
    background-color: #d30000;
    border-color: #a80000;
}
.btn-red:active:hover,
.btn-red.active:hover,
.open > .dropdown-toggle.btn-red:hover,
.btn-red:active:focus,
.btn-red.active:focus,
.open > .dropdown-toggle.btn-red:focus,
.btn-red:active.focus,
.btn-red.active.focus,
.open > .dropdown-toggle.btn-red.focus {
    color: #eee;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
    background-image: none;
}
.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled.focus,
.btn-red[disabled].focus,
fieldset[disabled] .btn-red.focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
    background-color: #fff;
    border-color: #ccc;
}
.btn-red .badge {
    color: #fff;
    background-color: #333;
}

.form-control:focus {
    border-color: #666;
}

.navbar-default {
    background-color: #080808;
    border-color: #171717;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #e7e7e7;
}
