.body {
    background: url("background.jpg") no-repeat scroll center top rgba(0, 0, 0, 1) !important;
}

.content-back {
    background: #eee;
    border-radius: 2px;
    padding-bottom: 20px;
}

.signin {
    background: url("background.jpg") no-repeat scroll center top rgba(0, 0, 0, 1) !important;
    padding-top: 40px;
    padding-bottom: 40px;
}

.centered {
    text-align: center;
}

.navbar-brand {
    padding-top: 3px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin-heading {
    color: #ffffff;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-red {
    color: #eee;
    background-color: #fe0000;
    border-color: #d30000;
}
.btn-red:focus,
.btn-red.focus {
    color: #eee;
    background-color: #d30000;
    border-color: #a80000;
}
.btn-red:hover {
    color: #eee;
    background-color: #d30000;
    border-color: #a80000;
}
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
    color: #eee;
    background-color: #d30000;
    border-color: #a80000;
}
.btn-red:active:hover,
.btn-red.active:hover,
.open > .dropdown-toggle.btn-red:hover,
.btn-red:active:focus,
.btn-red.active:focus,
.open > .dropdown-toggle.btn-red:focus,
.btn-red:active.focus,
.btn-red.active.focus,
.open > .dropdown-toggle.btn-red.focus {
    color: #eee;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
    background-image: none;
}
.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled.focus,
.btn-red[disabled].focus,
fieldset[disabled] .btn-red.focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
    background-color: #fff;
    border-color: #ccc;
}
.btn-red .badge {
    color: #fff;
    background-color: #333;
}

.form-control:focus {
    border-color: #666;
}

.navbar-default {
    background-color: #080808;
    border-color: #171717;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #e7e7e7;
}

.nav>li>a {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li.activenav>a {
    color: #e7e7e7;
    background-color: #a2a2a2;
}

.navul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.submenu {
    position: absolute;
    left: 0;
    background: #a2a2a2;
    padding: 10px;
    float: left;
    display: none;
    opacity: 0.95;
    z-index: 100;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.submenu>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    min-width: 190px;
}
.submenu>ul>li {
    text-align: center;
}

.submenu>ul>li>a {
    color: #e7e7e7;
}

.submenu>ul>li>a:hover {
    font-weight: bold;
    text-decoration: none;
}

.szindoboz {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 2px;
}

.szinkep {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.szinszoveg {
    text-align: center;
}

.szindoboz>a {
    color: #777;
}

.szindoboz>a:hover {
    font-weight: bold;
    text-decoration: none;
}

.valtozatnagykep {
    text-align: center;
}

.valtozatsor {
    margin-bottom: 5px;
}

.valtozatkozep {
    height: 34px;
    line-height: 34px;
}

.valtozatkozep>span, .valtozatkozep>img {
    display: inline-block;
    vertical-align: middle;
}

@media (min-width: 480px) {
}

@media (min-width: 767px) {
}

@media (min-width: 979px) {
}

