.textalignleft {
    text-align: left;
}

.textalignright {
    text-align: right;
}

.nowrap {
    white-space: nowrap;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.lejart {
    color: red;
}

h4, h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: #039;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    margin: 0 auto;
    width: 21cm;
    color: #669;
}

table {
    font-size: 12px;
    background: #fff;
    border-collapse: collapse;
    text-align: left;
    border-spacing: 0;
}

table th {
    font-size: 14px;
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}

table tfoot {
    font-size: 14px;
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    border-top: 2px solid #6678b1;
    padding: 10px 8px;
}

table td {
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 6px 8px;
}

.pagebreakbefore {
    page-break-before: always;
}

.red {
    color: red;
}

@media print {

    a {
        color: #000;
        text-decoration: none;
    }

    .lejart {
        color: #000;
    }

    h4,
    h5,
    table td {
        color: #000;
    }

    body {
        font-family: Georgia, "Times New Roman", Times, serif;
        color: #000;
        background: #fff;
        width: 100%;
    }

    table {
        width: 100%;
        page-break-inside: auto;
    }

    table th {
        color: #000;
        border-bottom-color: #000;
    }

    table tfoot {
        color: #000;
        border-bottom-color: #000;
        border-top-color: #000;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
        page-break-before: auto;
    }

}