body {
	font-size: 62.5%;
}

#menu {
	padding: 0.5em;
    float: left;
}

#kozep {
	position: absolute;
}

.textaligncenter {
    text-align: center;
}

.textalignright {
    text-align: right;
}

.egyebadat-grid {
	margin-bottom: 5px;
}

.egyebadat-wrapper {
	margin-right: 5px;
	float: left;
}

.egyebadat-longwrapper {
	clear: both;
}

.balra {
    float: left;
}

.jobbra {
	float: right;
}

.clearboth {
    clear: both;
}

.bold {
    font-weight: bold;
}

img {
	border: none;
}

.admin-termeknev {
	font-weight: bold;
	padding-right: 1em;
}

.admin-termekadat {
	margin-top: 1em;
}

.cimkelista {
	line-height: 2em;
}

#flyoutpreview {
	position: absolute;
	border: 1px solid #ccc;
	background: #333;
	padding: 5px;
	display: none;
	color: #fff;
}

.termekselect {
	width: 40em;
}

.bizonylattetelvaltozattable {
    border: 1px solid #ccc;
}

.valtozatkepedit {
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-width: 650px;
}

.valtozatkepedit li {
	margin: 3px;
	padding: 1px;
	float: left;
	width: 100px;
	height: 100px;
	text-align: center;
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
/*	overflow-x: hidden;*/
}

.guestpartner {
	color: red;
}

.barionstatus {
    color: red;
}

.kupon {
    color: blue;
    font-weight: bold;
}

.referrer {
    max-width: 500px;
    overflow-x: hidden;
    word-wrap: break-word;
}

.fuvarlevel {
    max-width: 300px;
    word-wrap: break-word;
}

.pricenowrap {
    white-space: nowrap;
}

.hufprice, input[readonly] {
    color: #bbb;
}

.js-saveas, .js-saveandreopen {
    margin-left: 10px;
}

.nemelerhetovaltozat {
    color: red !important;
}

.menupont {
    width: 100%;
    text-align: left;
}

.fullwidth {
    width: 100%;
}

.hidden {
    display: none;
}

.rontott, .rontott a {
    color: #ddd !important;
}

.keszletoszlop {
    width: 40px;
    text-align: right;
}

.emailtemplateleiras {
    width: 480px;
    height: 400px;
}

.mainbox {
    margin-top: 5px;
    margin-right: 5px;
}

.mainboxinner {
    margin: 5px;
}

.bizonylatosszesito {
    margin-top: 5px;
}

.headercell {
    padding: 5px;
}

.datacell {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.1em;
}

tfoot tr td {
    font-weight: bold;
}

.lejartkiegyenlitetlen {
    color: red;
}

.kiegyenlitetlen {
    color: green;
}

.kiegyenlitett {
}

.tulfizetett {
    color: #0000CC;
}

.kiegyenlitetlenselect {
    width: 100%;
}

.feketelistas {
    background: black;
    color: white;
}

table.termekkarton tr:nth-child(even) {
    background: #ddd;
}

.whitebackground {
    background: white;
}

.termekforgalmibal {
    width: 50%;
    min-height: 250px;
}

.setuplabel {
    display: inline-block;
    width: 160px;
}

.setuprow {
    margin-bottom: 3px;
}