/*#a2a2a2;*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 17px;
}
h3 {
  font-size: 15px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 13px;
}
.hibas {
  background-color: #b94a48 !important;
  border-color: #e9322d !important;
  -webkit-box-shadow: 0 0 6px #f8b9b7 !important;
  -moz-box-shadow: 0 0 6px #f8b9b7 !important;
  box-shadow: 0 0 6px #f8b9b7 !important;
  color: white !important;
}
.ii {
  border-color: #ee5f5b !important;
}
#korhinta {
  margin-top: 10px;
}
.copyright {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
}
.whitebg {
  background-color: white;
}
.bgtakaro {
  padding: 0 10px 10px 10px;
}
.headbgtakaro {
  padding: 0 10px;
}
.tabs-left > .nav-tabs .active > a {
  font-weight: bold;
  color: #333;
  background-color: #e8e8e8;
}
.textaligncenter {
  text-align: center;
}
table th.textaligncenter,
table td.textaligncenter {
  text-align: center;
}
.textalignright {
  text-align: right;
}
.textalignjustify {
  text-align: justify;
}
.simalista {
  list-style: none;
  margin: 0;
}
.bold {
  font-style: bold;
}
.termeknev {
  font-size: 24.5px;
}
.width100percent {
  width: 100%;
}
body {
  font-size: 13px;
}
.bgimg {
  background: #dbdbdb url("/themes/main/mkwcansas/img/bg.png") repeat scroll top left;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  text-decoration: none;
  color: #a2a2a2;
}
p,
input {
  font-size: 13px;
}
select {
  font-size: 13px;
  width: auto;
  height: auto;
  margin: 0;
  padding: 2px;
}
.piros {
  color: red;
}
.table {
  margin: 0;
  clear: left;
}
td {
  vertical-align: top;
}
.notvisible {
  display: none;
}
.clearboth {
  clear: both;
}
.bold {
  font-weight: bold;
}
.inputiconhack {
  display: none;
}
.form-actions {
  background: none;
  border: none;
}
.btn {
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn-large {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-mini {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.modal {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.okbtn {
  color: white;
  text-shadow: 0 0 0;
  background-color: #008fcf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #007cb5;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008fcf), to(#007cb5));
  background-image: -webkit-linear-gradient(top, #008fcf, #007cb5);
  background-image: -moz-linear-gradient(top, #008fcf, #007cb5);
  background-image: -o-linear-gradient(top, #008fcf, #007cb5);
  background-image: linear-gradient(to bottom, #008fcf, #007cb5);
}
.okbtn:hover,
.okbtn:focus,
.okbtn:active,
.okbtn.active,
.okbtn.disabled,
.okbtn[disabled] {
  color: white;
  background-color: #007cb5;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008fcf), to(#007cb5));
  background-image: -webkit-linear-gradient(top, #008fcf, #007cb5);
  background-image: -moz-linear-gradient(top, #008fcf, #007cb5);
  background-image: -o-linear-gradient(top, #008fcf, #007cb5);
  background-image: linear-gradient(to bottom, #008fcf, #007cb5);
}
.okbtn:active,
.okbtn.active,
.okbtn:focus {
  background-color: #007cb5;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008fcf), to(#007cb5));
  background-image: -webkit-linear-gradient(top, #008fcf, #007cb5);
  background-image: -moz-linear-gradient(top, #008fcf, #007cb5);
  background-image: -o-linear-gradient(top, #008fcf, #007cb5);
  background-image: linear-gradient(to bottom, #008fcf, #007cb5);
}
.graybtn {
  color: white;
  text-shadow: 0 0 0;
  background-color: #a2a2a2;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #6e6e6e;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a2a2a2), to(#6e6e6e));
  background-image: -webkit-linear-gradient(top, #a2a2a2, #6e6e6e);
  background-image: -moz-linear-gradient(top, #a2a2a2, #6e6e6e);
  background-image: -o-linear-gradient(top, #a2a2a2, #6e6e6e);
  background-image: linear-gradient(to bottom, #a2a2a2, #6e6e6e);
}
.graybtn:hover,
.graybtn:focus,
.graybtn:active,
.graybtn.active,
.graybtn.disabled,
.graybtn[disabled] {
  color: white;
  background-color: #6e6e6e;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a2a2a2), to(#6e6e6e));
  background-image: -webkit-linear-gradient(top, #a2a2a2, #6e6e6e);
  background-image: -moz-linear-gradient(top, #a2a2a2, #6e6e6e);
  background-image: -o-linear-gradient(top, #a2a2a2, #6e6e6e);
  background-image: linear-gradient(to bottom, #a2a2a2, #6e6e6e);
}
.graybtn:active,
.graybtn.active,
.graybtn:focus {
  background-color: #6e6e6e;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a2a2a2), to(#6e6e6e));
  background-image: -webkit-linear-gradient(top, #a2a2a2, #6e6e6e);
  background-image: -moz-linear-gradient(top, #a2a2a2, #6e6e6e);
  background-image: -o-linear-gradient(top, #a2a2a2, #6e6e6e);
  background-image: linear-gradient(to bottom, #a2a2a2, #6e6e6e);
}
header a,
footer a {
  color: #f7f7f7;
}
header a:hover,
footer a:hover {
  color: #d2d2d2;
}
.headertop {
  color: #f7f7f7;
  background-color: #262626;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4b4b4b), to(#262626));
  background-image: -webkit-linear-gradient(top, #4b4b4b, #262626);
  background-image: -moz-linear-gradient(top, #4b4b4b, #262626);
  background-image: -o-linear-gradient(top, #4b4b4b, #262626);
  background-image: linear-gradient(to bottom, #4b4b4b, #262626);
}
.header-ingyenes {
  height: 20px;
}
.headerbutton {
  float: left;
  border-right-style: solid;
  border-right-width: 2px;
  border-color: #f7f7f7;
  padding: 0 10px;
}
.headerbutton a {
  line-height: 40px;
  display: block;
}
.lastheaderbutton {
  border: none;
}
.firstheaderbutton {
  padding-left: 0;
}
.headercarticon {
  display: block;
  background: url("img/i_kosar.png") no-repeat scroll center center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: #e42721;
}
#minikosar {
  line-height: 40px;
}
.headercart .cartbtn {
  margin: 5px 0 5px 10px;
}
.headerloginicon {
  display: block;
  background: url("img/i_emberke.png") no-repeat scroll left center;
  padding-left: 20px;
}
.headercarttext {
  font-size: 11px;
  color: white;
}
.headermid {
  margin-bottom: 20px;
  line-height: normal;
  padding-top: 10px;
}
#searchform,
#searchinput {
  margin: 0;
}
#searchinput {
  border-color: #6e6e6e;
  padding-right: 28px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#searchinput:focus {
  -webkit-box-shadow: 0 1px 6px #f7f7f7;
  -moz-box-shadow: 0 1px 6px #f7f7f7;
  box-shadow: 0 1px 6px #f7f7f7;
}
#searchbutton {
  background: url('img/i_keres.png') no-repeat center;
  background-color: #6e6e6e;
  border: none;
  width: 24px;
  height: 24px;
  margin-left: -32px;
  position: absolute;
  right: 4px;
  bottom: 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.searchinputbox {
  position: relative;
  margin: 33px 0 0 10px;
}
.headernav {
  background-color: #6e6e6e;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a2a2a2), to(#6e6e6e));
  background-image: -webkit-linear-gradient(top, #a2a2a2, #6e6e6e);
  background-image: -moz-linear-gradient(top, #a2a2a2, #6e6e6e);
  background-image: -o-linear-gradient(top, #a2a2a2, #6e6e6e);
  background-image: linear-gradient(to bottom, #a2a2a2, #6e6e6e);
}
#navmain {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 100;
}
#navmain li {
  float: left;
  border-left-style: solid;
  border-left-width: 2px;
  border-color: #a2a2a2;
}
#navmain li.last {
  border-right-style: solid;
  border-right-width: 2px;
}
#navmain li.first {
  border-left: none;
}
#navmain li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  color: #f7f7f7;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  line-height: 20px;
  padding: 8px 23px;
}
#navmain li a:hover {
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
#navmain li a.active {
  background-color: #a2a2a2;
}
#navmain .sub {
  position: absolute;
  left: 0;
  background: #a2a2a2;
  padding: 10px;
  float: left;
  display: none;
  opacity: 0.95;
  z-index: 100;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
#navmain .sub ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 190px;
  float: left;
}
#navmain .sub ul li {
  width: 100%;
}
#navmain .sub ul li a,
#navmain .sub ul li p {
  font-weight: normal;
  font-size: 13px;
  float: none;
  text-indent: 0;
  margin-right: 10px;
  margin-left: 4px;
  height: auto;
  padding: 4px 6px;
  display: block;
  text-decoration: none;
  background-image: none;
  line-height: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#navmain .sub ul li a:hover {
  background: #f7f7f7;
  color: #333333;
}
#navmain .sub ul li.categorytitle {
  margin: 0 0 0 4px;
  padding: 4px 3px 6px;
  font-size: 15px;
  font-weight: bold;
  color: #f7f7f7;
}
footer {
  margin-top: 20px;
  padding-top: 20px;
  color: #f7f7f7;
  background-color: #4b4b4b;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#262626), to(#4b4b4b));
  background-image: -webkit-linear-gradient(top, #262626, #4b4b4b);
  background-image: -moz-linear-gradient(top, #262626, #4b4b4b);
  background-image: -o-linear-gradient(top, #262626, #4b4b4b);
  background-image: linear-gradient(to bottom, #262626, #4b4b4b);
}
footer h5 {
  color: #e42721;
}
footer ul {
  list-style: none;
  margin: 0;
}
footer nav {
  margin-top: 20px;
}
.morzsa {
  font-size: 11px;
  margin-bottom: 20px;
  background-color: #e8e8e8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.morzsaszoveg {
  padding-left: 8px;
}
.kat {
  padding: 10px 0;
  float: left;
  width: 100%;
  cursor: pointer;
}
.kat:hover {
  background-color: whitesmoke;
}
.katimage {
  float: left;
  width: 100px;
  margin: 0 10px;
  text-align: center;
}
.kattext {
  margin: 0 10px;
}
.kattitle {
  font-size: 15px;
  font-weight: bold;
}
.sectionheader {
  font-size: 21px;
  color: #ffc600;
  text-align: center;
}
.szurokontener {
  border-width: 1px;
  border-style: solid;
  border-color: #e8e8e8;
  margin-bottom: 15px;
}
.szurokontener label {
  font-size: 13px;
}
.szurofej {
  background-color: #e8e8e8;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  padding: 8px;
  cursor: pointer;
}
.szurofej:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.szurodoboz {
  padding: 15px;
  overflow-x: hidden;
  min-height: 50px;
  max-height: 175px;
}
.termek {
  padding: 10px 0;
  border-bottom: 1px solid;
  border-color: #e8e8e8;
}
.termekimage {
  text-align: center;
  position: relative;
}
.termekimageslider {
  background: white;
}
.termekimageslider .rsOverflow,
.termekimageslider .rsSlide {
  background: white;
}
.termekcaption,
.termekprice {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}
.termekprice {
  font-size: 18px;
  text-align: right;
  color: #333333;
}
.termekvaltozat {
  font-size: 13px;
  font-weight: bold;
}
.valtozatselect {
  width: 100%;
}
.akciosplecsni {
  position: absolute;
  background: rgba(255, 0, 0, 0.5);
  width: 46px;
  height: 46px;
  right: 0px;
  bottom: 0px;
  border-radius: 23px;
}
.akciosplecsniszoveg {
  color: white;
  font-weight: bold;
  vertical-align: middle;
  line-height: 46px;
}
.gtermek {
  /*	width: 30%;
      float: left;
      */
  min-height: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #e8e8e8;
  border-width: 0 0 1px 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gtermekinner {
  float: left;
  height: 300px;
  width: 100%;
}
.gtermekinnest {
  padding: 10px 1.5% 30px;
}
.gtermekszelso {
  border-width: 0 1px 1px 1px;
}
.gtermekleft {
  width: 150px;
  margin-right: 5px;
}
.gtermekright {
  width: 182px;
}
.gtermekadat {
  height: 285px;
}
.gtermekcaption {
  font-size: 13px;
  font-weight: bold;
}
.gvaltozatnev {
  width: 40%;
}
.gvaltozatselect {
  width: 60%;
}
.gvaltozatcontainer {
  margin-bottom: 4px;
  width: 100%;
}
.gtermekupper {
  height: 150px;
  width: 100%;
  overflow-y: hidden;
}
.gtermekcenter {
  margin-top: 5px;
  width: 100%;
}
.cartbtn {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #c11813;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e42721), to(#c11813));
  background-image: -webkit-linear-gradient(top, #e42721, #c11813);
  background-image: -moz-linear-gradient(top, #e42721, #c11813);
  background-image: -o-linear-gradient(top, #e42721, #c11813);
  background-image: linear-gradient(to bottom, #e42721, #c11813);
}
.cartbtn:hover,
.cartbtn:focus,
.cartbtn:active,
.cartbtn.active,
.cartbtn.disabled,
.cartbtn[disabled] {
  color: white;
  background-color: #c11813;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e42721), to(#c11813));
  background-image: -webkit-linear-gradient(top, #e42721, #c11813);
  background-image: -moz-linear-gradient(top, #e42721, #c11813);
  background-image: -o-linear-gradient(top, #e42721, #c11813);
  background-image: linear-gradient(to bottom, #e42721, #c11813);
}
.cartbtn:focus,
.cartbtn:active,
.cartbtn.active {
  background-color: #c11813;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e42721), to(#c11813));
  background-image: -webkit-linear-gradient(top, #e42721, #c11813);
  background-image: -moz-linear-gradient(top, #e42721, #c11813);
  background-image: -o-linear-gradient(top, #e42721, #c11813);
  background-image: linear-gradient(to bottom, #e42721, #c11813);
}
.cartheader-tooltipbtn {
  cursor: pointer;
}
.megrendelemcontainer {
  margin: 20px 0;
}
.kiemelttermek {
  text-align: center;
  margin-bottom: 10px;
}
.lapozo {
  clear: left;
  background-color: #e8e8e8;
  padding: 4px 8px;
}
.lapozoform {
  margin: 0;
}
.lapozoform table {
  width: 100%;
}
.lapozotalalat {
  width: 20%;
}
.lapozooldalak {
  text-align: center;
}
.lapozorendezes {
  width: 15%;
  text-align: right;
}
a.pageedit {
  padding: 4px;
}
a.pageedit:hover {
  background-color: white;
}
span.aktualislap {
  color: #e42721;
  background-color: white;
  padding: 4px;
}
.hiralairas {
  font-size: 70%;
}
#messagecenter {
  border: none;
  padding: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: .5;
  color: #fff;
  font-size: 16px;
  max-width: 300px;
  width: auto;
  background-color: #000;
  margin: 20px auto;
  text-align: center;
}
.typeahead {
  overflow-y: auto;
  max-height: 210px;
}
.typeahead > .active > a,
.typeahead > .active > a:hover,
.typeahead > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #e42721;
  background-image: -moz-linear-gradient(top, #e42721, #b4130e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e42721), to(#b4130e));
  background-image: -webkit-linear-gradient(top, #e42721, #b4130e);
  background-image: -o-linear-gradient(top, #e42721, #b4130e);
  background-image: linear-gradient(to bottom, #e42721, #b4130e);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe42721', endColorstr='#ffb4130e', GradientType=0);
}
.typeahead > li > a:hover,
.typeahead > li > a:focus {
  color: #333;
  background: #fff;
}
.statlappopup {
  background-color: white;
  width: 60%;
  margin: 5% auto;
  padding: 20px;
}
.checkout {
  margin-top: 20px;
}
.chk-datagroupheader {
  background-color: #e8e8e8;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.chk-datagroupheader a {
  font-size: 12px;
  font-weight: normal;
  margin-left: 10px;
  color: #007cb5;
  text-decoration: underline;
}
.chk-datagroupheader a:hover {
  color: white;
}
.chk-datagroupheader:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.chk-staticheader {
  background-color: #AFAFAF;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
}
.chk-controllabel {
  margin-top: 5px;
}
.chk-colleftborder {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #e8e8e8;
}
.col30percent {
  width: 33%;
  min-height: 160px;
}
.chk-colheader {
  font-size: 14px;
  font-weight: bold;
}
.chk-colmargin > div {
  margin-left: 5px;
}
.chk-coldatabottom {
  margin-bottom: 5px;
}
.chk-actionrow {
  margin-top: 10px;
  margin-bottom: 10px;
}
.chk-columncontainer {
  margin-bottom: 20px;
}
.chk-relative {
  position: relative;
}
.chk-tooltipbtn {
  position: absolute;
  right: -16px;
  top: 31px;
  cursor: pointer;
  z-index: 100;
}
.chk-inlinetooltipbtn {
  cursor: pointer;
  z-index: 100;
}
.chk-courierdesc {
  margin-bottom: 10px;
  margin-left: 20px;
  color: #999;
}
.chk-foxpostcontainer {
  margin-bottom: 10px;
  margin-left: 20px;
  color: #999;
}
.chk-savecontainer {
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;
  padding: 10px;
  border-radius: 2px;
  background-color: #e8e8e8;
}
.chk-savecontainer label a {
  text-decoration: underline;
}
.chk-savecontainer label a:hover {
  color: white;
}
.chk-helpcontainer {
  margin-top: 20px;
}
input[type="submit"].chk-sendorderbtn {
  width: 100%;
}
.folyoszoveg {
  line-height: 1.3em;
}
[class^="col"] {
  float: left;
}
.chk-controloffset {
  margin-left: 30px;
}
.tooltip-inner {
  max-width: 350px;
  background-color: #6E6E6E;
  font-size: 14px;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #6E6E6E;
}
.chk-tooltippedcontainer {
  width: auto;
}
.chk-loginrightborder {
  border-right-color: #e8e8e8;
  border-right-style: solid;
  border-right-width: 1px;
}
.acc-copyszamlaadat {
  padding-left: 180px;
  padding-bottom: 10px;
}
.acc-copyszamlaadat a {
  cursor: pointer;
}
thead.acc-megrendeles {
  background-color: #6e6e6e;
  color: #f7f7f7;
  font-weight: bold;
}
thead.acc-megrendeles td {
  padding: 5px 10px;
}
tbody.acc-megrendeles td {
  padding: 5px 10px;
}
.acc-megrendelestablerow {
  background: #e8e8e8;
  cursor: pointer;
}
.acc-megrendelesbordertop {
  border-top: solid;
}
.acc-megrendelesborderbottom {
  border-bottom: solid;
}
.acc-megrendelescaption {
  font-weight: bold;
}
.acc-megrendelestetellist {
  border: solid 1px;
  border-color: #ddd;
  width: 100%;
  margin-top: 5px;
}
thead.acc-megrendelestetellist {
  font-weight: bold;
}
thead.acc-megrendelestetellist td {
  padding: 5px 10px;
}
.termekimagecontainer {
  padding-bottom: 15px;
}
.royalSlider {
  width: 100%;
}
.termekSlider {
  border: solid 1px #ddd;
  background: white;
}
.termekSlider .rsOverflow,
.termekSlider .rsSlide {
  background: white;
}
.termekSliderTermekInner {
  padding: 15px;
}
.termekSliderTermekInner a {
  display: block;
}
.termekSliderImageContainer {
  min-height: 100px;
}
.o404TermekInner {
  padding: 15px;
}
.o404ImageContainer {
  min-height: 150px;
}
.kapcsolodoTermekInner {
  padding: 15px;
}
.kapcsolodoImageContainer {
  min-height: 100px;
}
.hirListBlock dd.title {
  font-weight: bold;
  font-size: 14px;
}
/* margo 20px */
.spanmkw3 {
  width: 349.5px;
  margin-left: 0;
}
.akciosarszoveg {
  color: #e42721;
  font-weight: bold;
  font-size: 13px;
}
.akciosar {
  text-decoration: line-through;
}
.akciosarszovegtermeklap {
  font-size: 18px;
}
.itemPrice {
  font-size: 24.5px;
  font-weight: bold;
  margin: 5px 0;
}
.kosarbacontainer {
  padding-top: 15px;
}
.termeklapaddthis div.addthis_toolbox {
  width: 202px;
  margin: 0 auto;
}
h1.main {
  font-size: 20px;
}
h2.main,
h3.main,
h4.main,
h5.main {
  font-size: 17.5px;
}
h1.termeklista {
  font-size: 11px;
  line-height: 20px;
  display: inline;
}
h2.termeklista,
h3.termeklista,
h4.termeklista,
h5.termeklista {
  font-size: 17.5px;
}
.checkouterror {
  color: red;
  font-weight: bold;
  font-size: 14px;
}
.checkouterrorblock {
  border-color: red;
  border-width: 2px;
  border-style: dashed;
}
.checkouterrorblockinner {
  padding: 5px;
}
.nomargin {
  margin-left: 0 !important;
}
.fogyaszto-barat {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.tooltipbtn {
  cursor: pointer;
}
.markacontainer {
  height: 150px;
}
.markahelper {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.markaimg {
  vertical-align: middle;
}
select[name="foxpostcsoport"],
select[name="foxpostterminal"] {
  width: 100%;
  max-width: 100%;
}
/* margo 30px */
@media (min-width: 1200px) {
  .spanmkw3 {
    width: 435px;
  }
  .gtermekleft {
    width: 150px;
  }
  .gtermekright {
    width: 265px;
  }
}
/* margo 20px */
@media (max-width: 979px) and (min-width: 768px) {
  .spanmkw3 {
    width: 268.5px;
  }
  .gtermekleft {
    width: 100px;
  }
  .gtermekright {
    width: 153px;
  }
}
@media (min-width: 480px) {
  #navmain li .sub {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .chk-tooltippedcontainer {
    width: 100%;
  }
  .spanmkw3 {
    width: 100%;
  }
  .gtermekleft {
    width: 30%;
  }
  .gtermekright {
    width: 68%;
  }
}
@media (min-width: 767px) {
  #navmain li .sub {
    width: 700px;
  }
  #navmain li .sub ul {
    width: 125px;
    float: left;
  }
}
@media (min-width: 979px) {
  #navmain li .sub {
    width: 940px;
  }
  #navmain li .sub ul {
    width: 185px;
    float: left;
  }
}
