:root {
    --brand-color: #AAFF00;
    --dark-font-color: black;
    --nav-background-color: black;
    --light-font-color: white;
    --default-font-size: 16px;
    --content-font-size: 20px;
    --header5-font-size: 20px;
    --termek-cikkszam-font-size: 0.8em;
    --termek-padding-m: 5px;
    --termek-padding-d: 0 20px 40px 20px;
    --termek-border: #1b1b1b solid 1px;
    --menu-nav-text-font-size-d: 14vh;
    --menu-nav-text-font-size-m: 5vh;
    --menu-nav-text-margin-left-d: 4vh;
    --menu-nav-text-margin-left-m: 4vh;
    --menu-nav-num-font-size-d: 8vh;
    --menu-nav-num-font-size-m: 4vh;
    --nav-spacer-height-m: 14vh;
    --nav-spacer-height-d: 5vh;
    --termekfa-kep-height: calc(100vh - var(--nav-spacer-height-d));
    --tl-nav-spacer-height-m: 14vh;
    --tl-nav-spacer-height-d: 14vh;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/themes/main/mugenrace2021/HelveticaNeueLTPro-Bd.woff") format("woff");
}

* {
    box-sizing: border-box;
}

.hcenter {
    margin: 0 auto;
}

.vcenter {
    margin: auto 0;
}

.center {
    margin: auto;
}

.dontscroll {
    overflow: hidden;
    height: 100vh;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: var(--default-font-size);
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    outline: none;
    color: var(--dark-font-color);
}

.menucontainer {
    z-index: 9999;
    position: absolute;
    top: -100vh;
    background-color: var(--brand-color);
    width: 100vw;
    height: 100vh;
    transition: 600ms;
    overflow: hidden;
    font-style: italic;
}

.menu-nav-text {
    text-transform: uppercase;
    font-size: var(--menu-nav-text-font-size-m);
    margin-left: var(--menu-nav-text-margin-left-m);
    vertical-align: middle;
}

.menu-nav-num {
    text-transform: uppercase;
    font-size: var(--menu-nav-num-font-size-m)
}

.menu-nav-slogen {
    text-transform: uppercase;
}

.menu-line {
    margin-bottom: 3em;
    margin-top: 3em;
}

.menucontainer-down {
    transform: translateY(100vh);
}

.menucloser {
    display: grid;
    grid-template-columns: 40px;
    column-gap: 5px;
    align-items: center;
    align-content: center;
    padding: 5px;
}

.menu-bottom-triangle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5vh;
}

.menu-bottom-text {
    color: var(--light-font-color);
    opacity: 0.3;
    bottom: -8vw;
    position: absolute;
    font-size: 16vw;
    left: -2vw;
    font-style: oblique;
    font-weight: bold;
}

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    color: var(--light-font-color);
}

.nav {
    display: grid;
    grid-template-columns: 40px 0 1fr 40px 40px 50px;
    column-gap: 5px;
    align-items: center;
    align-content: center;
    padding: 5px;
    background-color: var(--nav-background-color);
    font-style: italic;
}

.nav-img {
    width: 80%;
}

.nav-logoimg {
    max-width: 180px;
}

.nav-lang {
    width: 2.5em;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: var(--light-font-color);
    background-color: var(--nav-background-color);
    border: none;
}

.nav-spacer {
    height: var(--nav-spacer-height-m);
}

.header-triangle {
    grid-row: 2;
    z-index: 998;
}

.header-triangle-size {
    width: 100vw;
    height: 2vh;
}

.mainpage {
    height: 100vh;
    position: relative;
    font-style: italic;
}

.bgimg {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.szlogen-container {
    position: absolute;
    top: 40vh;
    width: 100%;
    overflow-x: clip;
}

.szlogen1 {
    color: var(--light-font-color);
    font-size: 75px;
    font-weight: bold;
    grid-row: 1;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    line-height: 50%;
}

.szlogen2 {
    color: var(--light-font-color);
    font-size: 50px;
    font-weight: bold;
    grid-row: 2;
    white-space: nowrap;
    text-align: center;
    text-transform: lowercase;
}

.page-container {
    height: 100vh;
    font-style: italic;
}

.page {
    position: relative;
    max-height: 100vh;
}

.page-padder {
    width: 100%;
    height: 16vh;
}

.page-szlogen-container {
    display: grid;
    position: absolute;
    top: 0;
    width: 100%;
    overflow-x: clip;
}

.page-img {
    max-height: 80vh;
    width: 100%;
    object-fit: cover;
}

.page-img-container {
    position: relative;
}

.page-img-top-triangle {
    position: absolute;
    top: -1px;
    width: 100%;
    height: 2vh;
}

.page-img-bottom-triangle {
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    height: 2vh;
}

.page-szlogen1 {
    color: var(--light-font-color);
    font-size: 12vw;
    font-weight: bold;
    grid-row: 1;
    transform: rotate(357deg);
    padding-top: 5vw;
}

.page-szlogen2 {
    color: var(--light-font-color);
    font-size: 6vw;
    font-weight: bold;
    grid-row: 2;
    transform: rotate(357deg);
}

.page-tartalom-container {
    padding: 10px;
}

.page-tartalom {
    max-height: 80vh;
    overflow: hidden;
    color: var(--dark-font-color);
    font-size: var(--content-font-size);
    padding: 0 10px;
}

.termek-screen {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.termek-filter {
    background-color: var(--brand-color);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: -86vh;
    transition: 600ms;
    overflow: hidden;
}

.termek-filter-down {
    transform: translateY(86vh);
}

.termek-filter-inner {
    background-color: var(--brand-color);
    padding: 85px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.filter-header {
    font-size: var(--header5-font-size);
    margin-bottom: 5px;
}

.filter-upper-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.filter-closer, .filter-cleaner {
    flex-basis: 33.3333%;
}

.filter-closer {
    text-align: center;
}

.filter-cleaner {
    text-align: end;
}

.filter-apply {
    align-self: center;
}

.filter-apply-button {
    width: 80vw;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: var(--header5-font-size);
    padding-top: 10px;
}

.filter-box {
    margin-bottom: 10px;
}

.filter-filters {
    margin-left: 5px;
}

.filter-opener {
    align-self: center;
    position: absolute;
    bottom: 5px;
    padding: 0 45vw;
}

.termek-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.termek-box {
    flex: 0 0 50%;
    padding: var(--termek-padding-m);
}

.termek-innerbox {
    display: flex;
    flex-direction: column;
    border: var(--termek-border);
    padding: var(--termek-padding-m);
    height: 100%;
}

.termek-img {
    width: 100%;
}

.termek-infobox {
    margin-top: auto;
}

.termek-nev {
    font-style: normal;
}

.termek-cikkszam, .termek-rovidleiras {
    font-size: var(--termek-cikkszam-font-size);
}

.termek-ar-row {
    display: flex;
    flex-direction: row;
}

.termek-ertekeles {
    flex-basis: 50%;
}

.termek-ar {
    flex-basis: 50%;
    text-align: end;
}

.tl-nav-spacer {
    height: var(--tl-nav-spacer-height-m);
}

.tl-container {
    display: flex;
    flex-direction: column;
}

.tl-termek-innerbox {
    display: flex;
    flex-direction: column;
}

.tl-termek-img {
    width: 100%;
}

.tl-termek-cikkszam, .tl-termek-rovidleiras {
    font-size: var(--termek-cikkszam-font-size);
}

.tl-termek-ar {
    font-style: italic;
    margin: 10px 0;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 761px) {
    .c-viewer__iframe {
        width: 50vw;
        height: 100vh;
        align-self: center;
    }

    .nav {
        grid-template-columns: 1fr 3fr 24fr 1fr 1fr 2fr;
    }

    .header-triangle-size {
        width: 100vw;
        height: 6vh;
    }

    .nav-spacer {
        height: var(--nav-spacer-height-d);
    }

    .menu-bottom-triangle {
        width: 100%;
        height: 15vh;
    }

    .page-img-top-triangle {
        top: 0px;
        height: 4vh;
    }

    .page-img-bottom-triangle {
        bottom: 7px;
        height: 4vh;
    }

    .menu-nav-text {
        font-size: var(--menu-nav-text-font-size-d);
        margin-left: var(--menu-nav-text-margin-left-d);
    }

    .menu-nav-num {
        font-size: var(--menu-nav-num-font-size-d);
    }

    .menu-nav-slogen {
        margin-top: -2em;
        margin-bottom: 2em;
        margin-left: 30em;
    }

    .page {
        display: grid;
        grid-template-columns: 70% 30%;
        position: relative;
    }

    .szlogen1 {
        font-size: 280px;
        grid-row: 1;
    }

    .szlogen2 {
        font-size: 50px;
        grid-row: 2;
    }

    .page-szlogen1 {
        font-size: 140px;
        grid-row: 1;
        transform: rotate(358.5deg);
        padding-top: 3vw;
    }

    .page-szlogen2 {
        font-size: 50px;
        grid-row: 2;
        transform: rotate(358.5deg);
    }

    .termekfa-kep {
        display: flex;
        height: var(--termekfa-kep-height);
        flex-direction: column;
    }

    .termekfa-kep > img {
        margin: auto;
        max-height: var(--termekfa-kep-height);
    }

    .termek-filter {
        background-color: unset;
        position: unset;
        width: unset;
        height: unset;
        bottom: unset;
        flex-basis: 20%;
    }

    .termek-filter-inner {
        padding: 20px;
        display: block;
        flex-direction: unset;
    }

    .filter-opener, .filter-closer {
        display: none;
    }

    .filter-apply {
        align-self: unset;
        text-align: center;
    }

    .filter-apply-button {
        width: unset;
    }

    .termek-screen {
        flex-direction: row;
    }

    .termek-grid {
        flex-basis: 80%;
    }

    .termek-box {
        flex: 0 0 33.3333%;
        padding: var(--termek-padding-d);
    }

    .termek-innerbox {
        padding: var(--termek-padding-d);
    }

    .tl-nav-spacer {
        height: var(--tl-nav-spacer-height-d);
    }

    .tl-container {
        flex-direction: row;
    }

    .tl-termek-valtozatslider {
        flex-basis: 15%;
    }

    .tl-termek-innerbox {
        flex-basis: 85%;
        flex-direction: row;
    }

    .tl-termek-fokep {
        flex-basis: 50%;
        border: var(--termek-border);
        padding: 20px;
        margin: 0 20px;
    }

    .tl-termek-infobox {
        flex-basis: 50%;
        padding: 20px;
        margin: 0 20px;
    }
}